<html>
  <head>
    <style type="text/css">
      body {
        font-family: arial;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <p>Something broke.  You can try <a href='/200x200'>this simple test</a>. If this error occurs there as well, you are probably missing app dependencies. Make sure RMagick is installed correctly. If the test works, you are probably passing bad params in the url.</p>
    <p>Use this thing like http://host:port/200x300, or add color and textcolor params to decide color.</p>
    <p>Error is: [<code><%= @error %></code>]</p>
  </body>
</html>