<html>
  <head>
    <style type="text/css">
      body, td {
        font-family: arial;
        font-size: 12px;
      }
      td {
        vertical-align: top;
        padding: 5px;
      }
      h2 {
        padding: 0px;
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <p>Welcome to dummyimage.</p>
    <p><a href="http://github.com/aimerickdesdoit/ruby-dummyimage" target="_blank">http://github.com/aimerickdesdoit/ruby-dummyimage</a></p>
    
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2"><h2>Example with text</h2></td>
      </tr>
      <tr>
        <td>JPG / PNG</td>
        <td>GIF</td>
      </tr>
      <tr>
        <td><img src="/150x200.jpg?backgroundcolor=!0a6495&textcolor=!ffffff" /></td>
        <td><img src="/150x200.gif?backgroundcolor=!0a6495&textcolor=!ffffff&loader=false" /></td>
      </tr>
      <tr>
        <td>
          <code>&lt;img src="/150x200.jpg?backgroundcolor=!0a6495&textcolor=!ffffff" /&gt;</code>
          <br/>
          <code>&lt;img src="/150x200.png?backgroundcolor=!0a6495&textcolor=!ffffff" /&gt;</code>
        </td>
        <td><code>&lt;img src="/150x200.gif?backgroundcolor=!0a6495&textcolor=!ffffff&loader=false" /&gt;</code></td>
      </tr>
      <tr>
        <td colspan="2"><h2>Example with image</h2></td>
      </tr>
      <tr>
        <td>JPG / PNG</td>
        <td>GIF</td>
      </tr>
      <tr>
        <td><img src="/150x200.jpg?backgroundcolor=!0a6495&image=true" /></td>
        <td><img src="/150x200.gif?backgroundcolor=!0a6495&image=true&loader=false" /></td>
      </tr>
      <tr>
        <td>
          <code>&lt;img src="/150x200.jpg?backgroundcolor=!0a6495&image=true" /&gt;</code>
          <br/>
          <code>&lt;img src="/150x200.png?backgroundcolor=!0a6495&image=true" /&gt;</code>
        </td>
        <td><code>&lt;img src="/150x200.gif?backgroundcolor=!0a6495&image=true&loader=false" /&gt;</code></td>
      </tr>
      <tr>
        <td colspan="2"><h2>Example with GIF loader</h2></td>
      </tr>
      <tr>
        <td colspan="2"><img src="/150x200.gif?backgroundcolor=!0a6495" /></td>
      </tr>
      <tr>
        <td colspan="2"><code>&lt;img src="/150x200.gif?backgroundcolor=!0a6495" /&gt;</code></td>
      </tr>
    </table>
  </body>
</html>