<html>
  <head>
    <style type="text/css">
      body, td {
        font-family: arial;
        font-size: 12px;
      }
      td {
        vertical-align: top;
        padding: 5px;
      }
      h2 {
        padding: 0px;
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <p>Welcome to dummyimage.</p>
    <p><a href="http://github.com/aimerickdesdoit/dummyimage" target="_blank">http://github.com/aimerickdesdoit/dummyimage</a></p>
    
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2"><h2>Example with text</h2></td>
      </tr>
      <tr>
        <td>JPG / PNG</td>
        <td>GIF</td>
      </tr>
      <tr>
        <td><img src="/150x200.jpg?backgroundcolor=green&textcolor=!ffffff" /></td>
        <td><img src="/150x200.gif?backgroundcolor=green&textcolor=!ffffff&loader=false" /></td>
      </tr>
      <tr>
        <td>
          Code : <code>&lt;img src="/150x200.jpg?backgroundcolor=green&textcolor=!ffffff" /&gt;</code>
          <br/>
          Code : <code>&lt;img src="/150x200.png?backgroundcolor=green&textcolor=!ffffff" /&gt;</code>
        </td>
        <td>Code : <code>&lt;img src="/150x200.gif?backgroundcolor=green&textcolor=!ffffff&loader=false" /&gt;</code></td>
      </tr>
      <tr>
        <td colspan="2"><h2>Example with image</h2></td>
      </tr>
      <tr>
        <td>JPG / PNG</td>
        <td>GIF</td>
      </tr>
      <tr>
        <td><img src="/150x200.jpg?backgroundcolor=green&image=true" /></td>
        <td><img src="/150x200.gif?backgroundcolor=green&image=true&loader=false" /></td>
      </tr>
      <tr>
        <td>
          Code : <code>&lt;img src="/150x200.jpg?backgroundcolor=green&image=true" /&gt;</code>
          <br/>
          Code : <code>&lt;img src="/150x200.png?backgroundcolor=green&image=true" /&gt;</code>
        </td>
        <td>Code : <code>&lt;img src="/150x200.gif?backgroundcolor=green&image=true&loader=false" /&gt;</code></td>
      </tr>
      <tr>
        <td colspan="2"><h2>Example with GIF loader</h2></td>
      </tr>
      <tr>
        <td colspan="2"><img src="/150x200.gif?backgroundcolor=green" /></td>
      </tr>
      <tr>
        <td colspan="2">Code : <code>&lt;img src="/150x200.gif?backgroundcolor=green" /&gt;</code></td>
      </tr>
    </table>
  </body>
</html>