<html>
  <head>
    <style type="text/css">
      body {
        font-family: arial;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <p>Welcome to dummyimage.</p>
    <p><a href="http://github.com/aimerickdesdoit/dummyimage" target="_blank">http://github.com/aimerickdesdoit/dummyimage</a></p>
    
    <p>Example JPG/PNG :<br/><img src="/150x200.jpg?backgroundcolor=green&textcolor=!ffffff" /></p>
    <p>Code: <code>&lt;img src="/150x200.jpg?backgroundcolor=green&textcolor=!ffffff" /&gt;</code>
      
    <p>Example GIF :<br/><img src="/150x200.gif?backgroundcolor=green&textcolor=!000000" /></p>
    <p>Code: <code>&lt;img src="/150x200.gif?backgroundcolor=green&textcolor=!000000" /&gt;</code>
  </body>
</html>