<html>
  <head>
    <style type="text/css">
      body {
        font-family: arial;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <p>Welcome to dummyimage.</p>
    <p><a href="http://github.com/aimerickdesdoit/dummyimage" target="_blank">http://github.com/aimerickdesdoit/dummyimage</a></p>
    
    <p>Example with text :<br/><img src="/150x200.jpg?backgroundcolor=green&textcolor=!ffffff" /></p>
    <p>Code: <code>&lt;img src="/150x200.jpg?backgroundcolor=green&textcolor=!ffffff" /&gt;</code>
    
    <p>Example with image :<br/><img src="/150x200.jpg?backgroundcolor=green&textcolor=!ffffff&image=true" /></p>
    <p>Code: <code>&lt;img src="/150x200.jpg?backgroundcolor=green" /&gt;</code>
    
    <p>Example with GIF loader :<br/><img src="/150x200.gif?backgroundcolor=green" /></p>
    <p>Code: <code>&lt;img src="/150x200.gif?backgroundcolor=green" /&gt;</code>
  </body>
</html>